body {
    font-family:"Murecho";
    background-color: antiquewhite;
    line-height: 50px;

    margin: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;

    margin-bottom: 50px;
}

.content {
    margin-left: 35%;
}

.keywordSelect {
    line-height: 30px;
}

.input {
    width: 300px;
    padding: 10px;

    margin-bottom: 10px;
}

.big {
    width: 500px;
    height: 200px;
}

#textarea, .input {
    border-radius: 8px;
    border: 2px solid black;
}

#b {
    font-size: 15px;
    border-radius: 8px;

    /* padding: 10px; */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 60%;
}